[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
gunicorn = "*"
flask = "*"
gspread = "*"
oauth2client = "*"
pandas = "*"
twilio = "*"

[requires]
python_version = "3.6"

